.shining {
    position: relative;
    border-top: 1px solid #ececec;
    .shining-container {
        max-width: 270px;
        margin: 0 auto;
    }
    &-block {
        &::after {
            content: "";
            position: absolute;
            background: url(../images/diamond.png) no-repeat;
            background-size: 100% 100%;
            width: 50px;
            height: 50px;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
        &-photo {
            display: none;
        }
        &-info {
            h1 {
                padding: 20px 0;
                font-size: 39px;
            }
            p {
                color: #727272;
                font-size: 20px;
                line-height: 25px;
            }
            a {
                position: absolute;
                font-size: 18px;
                padding: 40px 0;
                color: rgb(255, 0, 0);
                text-decoration: none;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .shining {
        .shining-container {
            max-width: 680px;
            margin: 0 auto;
        }

        &-block {
            display: flex;
            &-photo {
                display: block;
                img {
                    width: 350px;
                    height: auto;
                }
            }
        }
    }
}
@media only screen and (min-width: 1024px) {
    .shining {
        min-height: 500px;
        .shining-container{
            max-width: 1370px;
            margin: 0 auto;
        }
        
        &-block-photo {
            img {
                width: 706px;
                height: auto;
            }
        }
        &-block-info {
            width: 500px;
            p {
                line-height: 34px;
            }
        }
    }
}
