*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 300px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


@media only screen and (min-width:768px){
    .container{
        max-width: 680px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1024px){
    .container{
        max-width: 1170px;
        margin: 0 auto;
    }
}


@import "header";
@import "arrivel";
@import "shining";
@import "images";