*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 280px;
    margin: 0 auto;
}

@media only screen and (min-width:768px){
    .container{
        max-width: 680px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1024px){
    .container{
        max-width: 900px;
        margin: 0 auto;
    }
}


@import "header";